[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11/
	branch = stable
[submodule "graphics/vendor/SDL"]
	path = graphics/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "graphics/vendor/GLEW"]
	path = graphics/vendor/GLEW
	url = https://github.com/nigels-com/glew.git

