[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11/
	branch = stable
[submodule "graphics/sdl3_cmake/vendor/SDL"]
	path = graphics/sdl3_cmake/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "graphics/sdl3_00_cmake/vendor/SDL"]
	path = graphics/sdl3_00_cmake/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
